{% extends 'layout.html' %}

{% block head_title %}Cursos{% endblock %}

{% block page_content %}
    {% for curso in cursos %}
        <article id="{{ curso.pk }}">
            {% if curso.curso_image %}
                <img src="{{ curso.curso_image.thumbnails.small.url }}" alt="Imagen del curso {{ curso.title }}">
            {% endif %}
            <h2>{{ curso.title }}</h2>
            <p>{{ curso.content|safe|truncatewords:100 }}...</p>
            <a href="{% url 'cursos:cursos_detail' curso.pk %}">Ver más</a>
        </article>
    {% endfor %}

{% endblock %}
